*{
    font-family: cursive;
    font-size: 20px;
}

h1{
    color: pink;
    font-size: 50px;
    text-align: center;
}

h3{
    color: indianred;
    text-align: right;
    font-size: 2em;
}

p{
    color: white;
}

contenedor{
    border: 1px solid silver;
    margin: 0 auto;
    width: 60%;
    background: palevioletred;
    padding: 10px;
}


.imagen{
    text-align: center;
}
img{
    width: 300px;
}

.principal{
    background: white;
    padding: 10px;
}



form{
    background: pink;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
}


table{
    border: 0;
    width: 1000;
}